footer{
	display: inline-block;
	background-color:#000000 ;
	width: 100%;
	color:#ffffff;
	padding: 100px 10px 50px 50px;
	
}

.info{
	text-align: right;
	margin: 0 10px 0 0;
}

.organizer{
	height:44px;
	display: inline;
	margin: 0 10px 0 10px;
	padding-right: 20px;
	border-right: 0.75px solid white;
	img{
		vertical-align:text-top;	
		width: 15%;
	}
}

.followUs{
	display: inline;
	margin: 0 10px 0 10px;
	height: 44px;
	img{
		vertical-align:text-top;	
		width: 30px;
		margin: 0px 5px;
	}
}

.contactUs{
	display: inline;
	margin: 0 10px 0 10px;		
	height: 44px;
	padding-left: 20px;
	font-size: 12px;
	text-align:left;
	border-left: 0.75px solid white;

	.contactMail{
		display: inline;
		text-align:left;
		margin: 0 0 0 10px;
		img{
			width:15px;
			vertical-align:middle;	
		}
	}

	.contactPhone{
		display: inline;
		text-align:left;
		margin: -5px 35px 0 10px;
		img{
			width:10px;
			vertical-align:middle;	
		}	
	}
}

.copyright{
	font-size: 12px;
	margin: 50px 0 0 0 ;

}