header {
	box-shadow: 0 1px 0 0 $main-border;
	display: flex;
	justify-content: flex-start;
	align-item:right;
	z-index: 2;
	position: relative;

	.logo, a {
		height: 100%;
		width: auto;
	}

	img {
		height: 100%;
		width: auto;
	}

	.text {
		width: 350px;
		display: inline-block;
		font-size: 12px;
		color: $main;
		margin-left: 10px;
		line-height: 1.2;
		opacity: .4;
		transform: scale(0.75);
		transform-origin: 0 0;

		@media screen and (max-width: 768px) {
			display: none;
		}
	}

}


.nav {
	font-family: $p100;
	font-size: 14px;
	margin: 0 0 0 auto; //靠左ＱＱ
}

.nav ul {
	width: 100%;
	max-width: 1024px;
	margin:20px 0 0 auto;
	padding-right: 10px;
	text-align: right;
}

// .nav li{
// 	display: inline-block;
// 	max-width: 250px;
// 	text-align: right;
// }

// #nav li:last-child{
// 	max-width: 175px;
// }

.nav li {
	position: relative;
	display: inline-block;
	min-width: 80px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	box-sizing:border-box;
	color: #000000;
	letter-spacing: 1px;
	text-align: center;
}

.nav li:nth-last-child(1),
.nav li:nth-last-child(2) {
	min-width: 0;
	padding: 0;
}
.nav li:nth-last-child(1) {
	margin-right: 15px;
}

.nav li:nth-last-child(1):before {
	content: '/ ';
	font-size: 12px;
}

.nav li:nth-last-child(2) {
	margin-left: 15px;
}

.nav li a {
	border-bottom: 0px solid #000000;
	padding-bottom: 3px;

	&:hover{
		border-bottom: 1px solid #000000;
		transition: border .5s ease;
	}
}

#register{
	background-color: #000000;
	color: white;
	&:hover{
		color: #000000;
		background-color: white;
		transition: background-color  .5s ease;
	}
}