[class*='btn'] {
	cursor: pointer;
	user-select: none;
  text-align: center;  
}

.link-btn {
	color: rgba(256,256,256,.8);
//	border-radius: 30px;
	line-height: 25px;
	font-size: 13px;
	width: 100px;
	opacity: .85;
	transition: .3s ease;

	&:hover {
		color:#ffffff;
	}
}

.register_btn{
	font-size: 14px;
	background-color: #ffffff;
	width: 300px;
	border-radius: 30px;
	box-shadow: 2px 2px 1px #444444;
	margin-top: 200px;
	opacity: .5;
	transition: .3s ease;

	&:hover {
		opacity: 1;
		box-shadow: 2px 2px 1px #000000;

	}	
}