.TRANSReview {
	width: 100%;
}

.ReviewTitle {
	font-family: $p200;
	position: absolute;
	color: #ffffff;	
	font-size: 47px;
	line-height: 47px;
	margin: 100px 0 0 10vw;
	z-index: 3;
	letter-spacing: 0.5px;
}

.TRANS_img {
	
}

.TRANS_img_content {
	background-color: #000000;
	width: 100%;

	
	a {
			img{
					object-fit: contain;
    	} 
	}
}

.mouse {
	position: absolute;
	font-size: 14px;
	font-family: $p200;
	color:white;
	margin:30vh 0 10% 10%;
	img{
		width: 2%;
		margin-right:10px;
	}

}